@charset "utf-8";
/* CSS Document */

	
#all {
	height: 1500px;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	z-index: 2;
	padding-top: 130px;
	position: relative;
}
#head1 {
	width: 818px;
	height: 597px;
	position: absolute;
	left: 336px;
	top: 92px;
	background-image: url(img/boxes2.png);
}
body {
	position: relative;
	background-image: url(img/bkkfull.png);
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	background-position: center;
}
#det {
	height: 900px;
	width: 1140px;
	position: relative;
}
#lt1 {
	height: 398px;
	width: 344px;
	position: absolute;
	left: 14px;
	top: 303px;
	background-image: url(img/boxes3.png);
}
#ct {
	height: auto;
	width: auto;
	margin-left: 320px;
}
#spic1 {
	height: 524px;
	width: 802px;
	position: absolute;
	left: 336px;
	top: 811px;
	background-image: url(img/boxes6.png);
}
#spic {
	height: 168px;
	width: 1115px;
	position: absolute;
	top: 665px;
	left: 27px;
	background-image: url(img/boxes4.png);
}
#pic02 {
	height: 238px;
	width: 328px;
	position: absolute;
	z-index: auto;
	left: 24px;
	top: 87px;
	background-repeat: no-repeat;
	background-image: url(img/boxes1.png);
}
#pic03 {
	height: 270px;
	width: 634px;
	background-image: url(img/MessageCover.png);
	z-index: 3;
}
#pic04 {
	height: 156px;
	width: 286px;
	position: absolute;
	z-index: 5;
	left: 308px;
	top: 76px;
}
#bott {
	height: 90px;
	width: auto;
	position: relative;
}
#LogoProj {
	position: absolute;
	width: 187px;
	height: 75px;
	left: 922px;
	top: 566px;
	background-image: url(img/cropped%20logo.png);
	background-size: cover;
	background-position: center;
	z-index: 5;
	background-repeat: no-repeat;
}
#formQSearch {
	position: absolute;
	width: 437px;
	height: 36px;
	left: 73px;
	top: 19px;
}
#picLocate {
	position: absolute;
	width: 734px;
	height: 436px;
	left: 35px;
	top: 41px;
	background-color: #999;
	z-index: 2;
	background-image: url(img/ecotourism-128088-1.jpg);
	background-size: cover;
	background-position: center;
}
#picDisc {
	position: absolute;
	z-index: 3;
	width: 714px;
	height: 60px;
	left: 35px;
	top: 399px;
	background-color: #FFF;
	opacity: 0.8;
	padding: 10px;
}
#botAddLocate {
	position: absolute;
	width: 189px;
	height: 57px;
	left: 54px;
	top: 70px;
	background-image: url(img/Botton/addLocate.png);
	background-repeat: no-repeat;
}
#suggHead {
	position: absolute;
	width: 190px;
	height: 57px;
	left: 82px;
	top: 41px;
	background-image: url(img/Botton/sugLogo.png);
}
#suggBkList {
	width: 255px;
	height: 246px;
	position: absolute;
	left: 46px;
	top: 109px;
	overflow: scroll;
	overflow-style: marquee-line;
}
#suggDetail {
	position: absolute;
	width: 209px;
	height: 103px;
	left: 17px;
	top: 17px;
	padding-left: 5px;
	padding-right: 5px;
}
#iconQsearch {
	width : 40px;
	height: 40px;
	float: left;
	background-color: #09C;
	margin-right: 20px;
}
#map-canvas {
	height: 520px;
	width: 737px;
	padding: 0px;
	position: absolute;
	left: 41px;
	top: 39px;
}
#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}
#directions-panel {
	height: 100%;
	float: right;
	width: 390px;
	overflow: auto;
}
#control {
	padding: 5px;
	font-size: 14px;
	font-family: Arial;
	z-index: 100;
	position: absolute;
	left: 215px;
	top: 25px;
	width: 534px;
}
#directions-panel {
	float: none;
	width: auto;
}

#BottWeb{
	position: absolute;
	height: 168px;
	width: 1115px;
	top: 1303px;
	left: 19px;
	background-image: url(img/boxes4.png);
	}

#showCost{
	position: absolute;
	height: 509px;
	width: 348px;
	left: 11px;
	top: 811px;
	background-image: url(img/boxes5.png);
}
