@charset "utf-8";
/* CSS Document */


.textbox {
	border: 1px solid #c4c4c4;
	font-size: 13px;
	padding: 4px 4px 4px 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0px 0px 8px #d9d9d9;
	-moz-box-shadow: 0px 0px 8px #d9d9d9;
	-webkit-box-shadow: 0px 0px 8px #d9d9d9;
	margin-bottom:4px
}
.textbox:focus {
	outline: none;
	border: 1px solid #7bc1f7;
	box-shadow: 0px 0px 8px #7bc1f7;
	-moz-box-shadow: 0px 0px 8px #7bc1f7;
	-webkit-box-shadow: 0px 0px 8px #7bc1f7;
}


#textInPicDis{
	position: absolute;
	left: 40px;
	top: 406px;
	z-index: 6;
	width: 719px;
	height: 70px;
}

#fromUserHead{
	position: absolute;
	text-align: center;
	width: 241px;
	height: 67px;
	left: 52px;
	top: 53px;
	z-index: 6;
	
	}

#getDirection{
	position: absolute;
	width: 164px;
	height: 22px;
	left: 586px;
	top: 361px;
	background-color: #FFF;
	z-index: 10;
	text-align: center;
	
}


.suggBox{
	
	margin-bottom: 20px;
	height: 120px;
}


#sggDet0{
	background-image: url(img/ecotourism-128088-1.jpg);
	background-size: cover;
	background-position: center;
}

div.positionSuggName{
        
        text-shadow:0px 0px 11px #000000;
       text-align: center;
	
	color: #FFF;
        height: 120px;
        background-size: cover;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 11px 11px 11px 11px;

        
}


#fromUserDetail{
	position: absolute;
	width: 251px;
	height: 348px;
	left: 49px;
	top: 124px;
	
}



.headText{
	text-shadow: 0px 0px 5px #333333, 2px 2px 8px #333333;
	font-size: 24px;
	color:#FFF;
}

#locateHead{
	position: absolute;
	left: 51px;
	top: 56px;
	z-index:5;
	}

#suggHead{
	position: absolute;
	left: 114px;
	top: 43px;
}

#headSearchText{
	position: absolute;
	width: 209px;
	height: 56px;
	left: 27px;
	top: 29px;
}
